/* .lab {
  grid-area: content;
    overflow:hidden;
    display: grid;
    grid-template-areas:
    "cameras video"
    "cameras video";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 8fr;
  color: #000000 !important;
  text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.imgArea { 
  padding: 10px 12px
              0px 0px;
  grid-area: video;
  height: 850px;
  display: grid;
  grid-template-areas:
  "video1 video2"
  "video3 video4";
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr;
} */


/* 
.img2 {
  display: grid;
  align-items: end;
  justify-content: end;
  grid-area: video2;
  grid-template-areas:
    ". ."
    ". img";
}

.img3 {
  display: grid;
  align-items: end;
  justify-content: end;
  grid-area: video3;
  grid-template-areas:
    ". ."
    ". img";
}

.img4 {
  display: grid;
  align-items: end;
  justify-content: end;
  grid-area: video4;
  grid-template-areas:
    ". ."
    ". img";
} */


.imgArea  {
  width: 300px;
  height: 60px;
  position: relative;
  margin-left: 0%;
}
.imgArea span{
  z-index: 1;
  color: #000000 !important;
  text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.imgArea img{
  z-index: 1;
  width: 300px;
  height: 60px;
  position: relative;
  cursor: pointer;
  margin-left: 0%;
  margin-top: -5px;
}

/* =============================== backgroundImg ================================== */

.backgroundImgNormal{
  cursor: pointer;

}

.backgroundImgSmall img{
  cursor: pointer;
  top: 20px;
  left: 99px;
  width: 200px;
  height: 40px;
}

.backgroundImgBig img{
  cursor: pointer;
  top: -52px;
  left: -253px;
  width: 552px;
  height: 110.4px;
}
/* =============================== LONG ================================== */

.longTextNormal {
  position: relative;
  top: 2px;
  text-align: center;
    top: -74px;
    left: -30px;
  font-size: 56px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.longTextNormal span{
  cursor: pointer;
}

.longTextSmall {
  position: relative;
  top: 2px;
  text-align: center;
    top: -30px;
    left: 28px;
  font-size: 35px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.longTextSmall span{
  cursor: pointer;
}

.longTextBig {
  position: relative;
  top: 2px;
  text-align: center;
    top: -188px;
    left: -221px;
  font-size: 105px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.longTextBig span{
  cursor: pointer;
}

/* =============================== SHORT ================================== */

.shortTextNormal {
  position: relative;
  font-size: 36px;
  left: 228px;
  top: -141px;
  text-align: center;
  width: 59px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.shortTextNormal span{
  cursor: pointer;
}

.shortTextSmall {
  position: relative;
  left: 241px;
  top: -73px;
  font-size: 23px;
  text-align: center;
  width: 59px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.shortTextSmall span{
  cursor: pointer;
}

.shortTextBig {
  position: relative;
  font-size: 70px;
  left: 163px;
  top: -314px;
  text-align: center;
  width: 59px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.shortTextBig span{
  cursor: pointer;
}

.shortText1 span{
}