.Arch {
    grid-area: content;
    padding: 10px 0px
                0px 0px;
    overflow:hidden;
    height: 902px;
    display: grid;
    grid-template-areas:
    "records video";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}

  /* ====================================   TOOLS   ================================== */

.videoArea {
    border: 3px solid rgb(82, 82, 82);
    grid-area: video;
    display: grid;
    grid-template-areas:
    "video"
    "tools";
    grid-template-rows: 1fr 44px;
    grid-template-columns: 1fr;
  }
 .videoArea span {
    color: aliceblue;
    position: absolute;
    margin-left: 1%;
  }
 .videoStream{
    grid-area: video;
    height:852px;
    width:1512px;
  }

  .videoStream video{
    grid-area: video;
    height:852px;
    width:1512px;
  }

  .progressBar {
    position: relative;
    grid-area: video;
    width: 100%;
    display: grid;
    align-items: end;
    justify-items: center;
  } 
  .progressBar span {
    user-select: none;
  }
  .demo{
    justify-self: start;
    margin-bottom: 13px;
  }

  .progressBar progress{
    width: 89%;
    cursor: pointer;
    height: 45px;
  }
  
  .videoEnd{
    justify-self: end;
    margin-right: 1%;
    margin-bottom: 13px;
  }
    
  /* ====================================   records   ================================== */

  .records {
    margin: 0px 10px
                0px 0px;
    border: 3px solid rgb(82, 82, 82);
    color:aliceblue;
    background-color: #1f2129;   
    overflow-y: scroll;         
    grid-area: records;
    display: grid;
      grid-template-areas:
      "recordsTitle"
      "recordsList";
    grid-template-rows: 30px 1fr;
    grid-template-columns: 1fr;
    position: relative;
  }
 
  .recordsTitle{
    padding: 2px;
    grid-area: recordsTitle;
    border-bottom: 2px solid #d3d3d3;
  }
  
  .recordsList {
    padding: 2px;
    font-size: 13px;
    grid-area: recordsList;
  }

  .records span {
    cursor: pointer;
  }
  


  /* ====================================   TOOLS   ================================== */

.tools {
    margin: 0px 0px;
    grid-area: tools;
    background-color: #525252;
    display: grid;
    grid-template-areas:
      "stop back Play forward speed scissors resetPoint";
    grid-template-rows: 1fr ;
    grid-template-columns: 45px 45px 45px 45px 30px 45px 1fr;
  }
  
  .tools img{
    position: relative;
    z-index: 1;
    padding: 6px;
    width: 35px;
    cursor: pointer;
  }
  
  .back {
    grid-area: back;
  }

  .stop {
    grid-area: stop;
  }
  
  .Play {
    grid-area: Play;
  }
  
  .forward {
    grid-area: forward;
   }
  
  .speed {
    padding: 1px;
    grid-area: speed;
  }
  
  .speed select {
    margin: 5px;
    cursor: pointer;
    width: 20px;
    position: relative;
    height: 35px;
  }

  .scissors {
    grid-area: scissors;
  }

  .react-calendar {
      background: #00e8f8;
  }