.MainLab {
    grid-area: content;
    color:aliceblue;
    white-space: pre-wrap;
    background-color: rgb(54, 54, 54); 
    height: 902px;
    display: grid;
    padding: 10px 0px
                  0px 0px;
    grid-template-areas:
      "navbarLog log";
    grid-template-columns: 1fr 4fr;
    padding: 10px 0px
              0px 0px;
              
    
}

.NavbarLog{   
    grid-area: navbarLog;
    margin: 0px 10px
    0px 0px;
    border: 2px solid #333333;
    color:aliceblue;
    background-color: #1f2129;     
  }

  .Log {
    grid-area: log; 
    overflow-y: scroll;
  }
