.MainLab {
    grid-area: content;
    color: #727272;
    white-space: pre-wrap;
    background-color: rgb(54, 54, 54); 
    height: 902px;
    display: grid;
    padding: 10px 0px
                  0px 0px;
    grid-template-areas:
      "navbarLog log";
    grid-template-columns: 1fr 4fr; 
}

.NavbarLog{   
    grid-area: navbarLog;
    margin: 0px 10px
    0px 0px;
    border: 3px solid rgb(82, 82, 82);
    color:aliceblue;
    background-color: #1f2129;     
  }

  .Log {
    border: 3px solid rgb(82, 82, 82);
    grid-area: log; 
    overflow-y: scroll;
    background-color: rgb(214, 216, 218);
    padding: 5px;
  }
