.name {
  display: grid;
  grid-template-areas:
  "whiteList";
  grid-template-columns: 100%;
  color: aliceblue;
}

.divName {
  border: 1px solid #727272;
  grid-area: whiteList;
  cursor: pointer;
  background-color: #1f2129;
  height: 25px;
  /* position: relative; */
}

.divName img {
  width: 20px;
}

.divNumbers{
  /* border: 1px solid #727272; */
  grid-area: whiteList;
  grid-template-areas: 
  "numbers"
  "functions";
  /* background-color: rgb(255, 255, 255); */
  /* position: absolute; */
}

.functions{
  grid-area: functions;
}
.divNumberRows{ 
  height: fit-content;
  grid-area: numbers;
}

.name a {
  text-decoration: none;
  color: #727272;
}

.btnForCN {
  width: 85px;
  background-color: azure;
  padding: 3px 3px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  box-shadow:0 0 4px rgba(67, 64, 224, 0.397);
  transition: .3s box-shadow;
  cursor: pointer;
}

.btnForCN:hover {
  background-color: rgb(180, 218, 218);
}
